@page "/discord/guilds/{Id}"
@attribute [Authorize]

<PageTitle>View Guild</PageTitle>

@using Bot.Models
@using Bot.Services
@inject GuildService GuildService

@if (guild == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Guild View</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Guild ID</th>
                <th>@guild.GuildId</th>
            </tr>
            <tr>
                <th>Guild Name</th>
                <td>@guild.GuildName</td>
            </tr>
            <tr>
                <th>Guild Admin ID</th>
                <td>@guild.GuildAdminId</td>
            </tr>
            <tr>
                <th>Guild Admin Name</th>
                <td>@guild.GuildAdminName</td>
            </tr>
        </tbody>
    </table>
    <div class="accordion" id="accordionGuildItems">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    System Messages Channel
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionGuildItems">
                <div class="accordion-body">
                    @guild.GuildSystemMessagesChannel.ChannelName (#@guild.GuildSystemMessagesChannel.ChannelId)
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    Votes Channel
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionGuildItems">
                <div class="accordion-body">
                    @guild.GuildVotesChannel.ChannelName (#@guild.GuildVotesChannel.ChannelId)
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                    Tickets Channel
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionGuildItems">
                <div class="accordion-body">
                    <b>Channel Category:</b> @guild.GuildTicketChannel.CategoryName (#@guild.GuildTicketChannel.CategoryId)<br />
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;
    private Guild? guild;

    protected override async Task OnInitializedAsync()
    {
        guild = await GuildService.GetAsync(Id);
    }
}